// Fonts
$font-stack: Roboto Light, Helvetica, Arial, sans-serif !default;
$font-size: 12pt !default;
$font-weight: normal;
$font-light-stack: Roboto Regular, Helvetica, Arial, sans-serif !default;

// Colors
$primary: #F63659 !default;
$primary_variant: #D72F57 !default;
$on_primary: #FFFFFF !default;
$alert: #FACE49 !default;
$error: #F15555 !default;
$success: #7EDC9E !default;
$info: #87CDEB !default;
$on_secondary: #000000 !default;
$background: #F2F2F2 !default;
$on_background: #000000 !default;
$surface: #FFFFFF !default;
$on_surface: #000000 !default;
$transparent: rgba(255, 255, 255, 0);


@import '_icons';


@mixin icon {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "construct" !important;
  font-size: 24pt;
}


QLabel#icon {
    @include icon;
    background-color: $transparent;
}


QWidget#surface {
    background-color: $surface;

    QLabel#icon {
        color: $on_surface;
    }
    QLabel#icon::hover {
        background-color: darken($surface, 10%);
        border-radius: 3pt;
    }
}


QWidget#alert {
    background-color: $alert;

    QLabel#icon {
        color: $on_secondary;
    }
    QLabel#icon::hover {
        background-color: lighten($alert, 10%);
        border-radius: 3;
    }
}


QWidget#background {
    background-color: $background;

    QLabel#icon {
        color: $on_background;
    }
    QLabel#icon::hover {
        background-color: lighten($background, 10%);
        border-radius: 3;
    }
}


QWidget#primary {
    background-color: $primary;

    QLabel#icon {
        color: $on_primary;
    }
    QLabel#icon::hover {
        background-color: lighten($primary, 10%);
        border-radius: 3;
    }
}
