[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
nose = "*"

[packages]
fstrings = "*"
scandir = "*"
werkzeug = "*"
chainmap = "*"
scrim = "*"
lucidity = "*"
win_unicode_console = "*"
colorama = "*"
"fsfs-0.1.9" = {git = "https://github.com/danbradham/fsfs.git"}
"backports.shutil-get-terminal-size" = "*"
