[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

Sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-napoleon = "*"
nose = "*"


[packages]

fstrings = "*"
scandir = "*"
Werkzeug = "*"
fsfs = {git = "git://github.com/danbradham/fsfs.git"}
