[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
nose = "*"


[packages]

fstrings = "*"
scandir = "*"
werkzeug = "*"
fsfs = {git = "git://github.com/danbradham/fsfs.git"}
