QWidget {
  font: 100% Roboto Light, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  background: #333;
  color: #f2f2f2;
  selection-background-color: #f2f2f2;
  selection-color: #333; }

QLabel {
  padding: 0; }

QLabel[titlebar=true] {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font: 100% Roboto Regular, Helvetica, Arial, sans-serif;
  font-size: 10pt; }

QLabel[valid=false] {
  color: #cb2828; }

QLineEdit {
  background: #4d4d4d;
  border-radius: 0px;
  border: 0;
  color: #f2f2f2;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px; }

QLineEdit[valid=false] {
  border: 1px solid #cb2828;
  color: #cb2828; }

.Icon {
  background: rgba(255, 255, 255, 0%);
  padding: 0; }

.Icon:hover {
  background: #4d4d4d; }

QPushButton {
  border-radius: 0px;
  padding: 8px;
  color: #f2f2f2;
  border: 1px solid #4d4d4d;
  background: rgba(255, 255, 255, 0%);
  outline: none;
  min-width: 120px; }

QPushButton:hover, QPushButton:focus {
  background: #4d4d4d; }

QPushButton:pressed, QPushButton:checked {
  background: #595959; }

QPushButton:disabled {
  color: #737373; }

QSpinBox,
QDoubleSpinBox {
  background: #4d4d4d;
  color: #f2f2f2;
  border-radius: 0px;
  outline: none;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px; }

QSpinBox[valid=false],
QDoubleSpinBox[valid=false] {
  color: #cb2828; }

QSpinBox::up-button,
QDoubleSpinBox::up-button {
  background: rgba(255, 255, 255, 0%);
  border-bottom: 5px solid #f2f2f2;
  border-left: 5px solid rgba(255, 255, 255, 0%);
  border-right: 5px solid rgba(255, 255, 255, 0%);
  border-top: 0px solid rgba(255, 255, 255, 0%);
  margin-bottom: 2px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: -2px;
  right: 4px;
  subcontrol-origin: padding;
  subcontrol-position: top right; }

QSpinBox::down-button,
QDoubleSpinBox::down-button {
  background: rgba(255, 255, 255, 0%);
  border-bottom: 0px solid rgba(255, 255, 255, 0%);
  border-left: 5px solid rgba(255, 255, 255, 0%);
  border-right: 5px solid rgba(255, 255, 255, 0%);
  border-top: 5px solid #f2f2f2;
  margin-bottom: -2px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  right: 4px;
  subcontrol-origin: padding;
  subcontrol-position: bottom right; }

QComboBox {
  background: #4d4d4d;
  color: #f2f2f2;
  border-radius: 0px;
  outline: none;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px; }

QComboBox[valid=false] {
  color: #cb2828; }

QComboBox::drop-down {
  background: rgba(255, 255, 255, 0%);
  border: 0;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
  width: 24px; }

QComboBox::drop-down:editable {
  border-left: 1px solid #333; }

QComboBox::down-arrow {
  background: rgba(255, 255, 255, 0%);
  border-top: 5px solid #f2f2f2;
  border-left: 5px solid rgba(255, 255, 255, 0%);
  border-right: 5px solid rgba(255, 255, 255, 0%);
  border-bottom: 0px solid rgba(255, 255, 255, 0%);
  margin-left: 0px;
  margin-right: 3px;
  margin-top: 4px; }

QAbstractItemView[completer=true] {
  background: blue; }

QComboBox QAbstractItemView,
QAbstractItemView[completer=true] {
  background: #4d4d4d;
  border: none;
  color: #f2f2f2;
  outline: none;
  selection-background-color: #4d4d4d;
  selection-color: #f2f2f2; }

QComboBox QAbstractItemView::item,
QAbstractItemView[completer=true]::item {
  border: 0;
  color: 0;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px; }

QComboBox QAbstractItemView::item:selected:active,
QComboBox QAbstractItemView::item:hover,
QAbstractItemView[completer=true]::item:selected:active,
QAbstractItemView[completer=true]::item:hover {
  background: #595959; }

QScrollBar:vertical {
  border: 0;
  background: #4d4d4d;
  width: 16px;
  padding: 4px;
  margin: 8px 0px 8px 0px; }

QScrollBar::handle:vertical {
  background: #f2f2f2;
  border: 0px solid #4d4d4d;
  min-height: 20px; }

QScrollBar::add-line:vertical {
  border: 0px solid #f2f2f2;
  background: #4d4d4d;
  height: 10;
  subcontrol-position: bottom;
  subcontrol-origin: margin; }

QScrollBar::sub-line:vertical {
  border: 0;
  background: #4d4d4d;
  height: 10;
  subcontrol-position: top;
  subcontrol-origin: margin; }

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none; }

QScrollBar:horizontal {
  border: 0;
  background: #4d4d4d;
  height: 16px;
  padding: 4px;
  margin: 0px 8px 0px 8px; }

QScrollBar::handle:horizontal {
  background: #f2f2f2;
  border: 0px solid #4d4d4d;
  min-width: 20px; }

QScrollBar::add-line:horizontal {
  border: 0px solid #f2f2f2;
  background: #4d4d4d;
  width: 10;
  subcontrol-position: right;
  subcontrol-origin: margin; }

QScrollBar::sub-line:horizontal {
  border: 0;
  background: #4d4d4d;
  width: 10;
  subcontrol-position: left;
  subcontrol-origin: margin; }

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none; }

QTreeView,
QListView {
  show-decoration-selected: 1;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  border: 1px solid #4d4d4d; }

QTreeView::item,
QTreeView::branch,
QListView::item {
  border: 0;
  border-bottom: 1px solid #4d4d4d;
  padding: 8px; }

QTreeView::item:hover,
QTreeView::branch:hover,
QListView::item:hover {
  border: 0;
  background: #4d4d4d; }

QTreeView::item:selected,
QTreeView::branch:selected,
QListView::item:selected {
  border: 0; }

QTreeView::item:selected:active,
QTreeView::branch:selected:active,
QListView::item:selected:active {
  background: #595959; }

QTreeView::item:selected:!active,
QTreeView::branch:selected:!active,
QListView::item:selected:!active {
  background: #595959;
  color: #f2f2f2; }

QHeaderView::section {
  background-color: #333;
  color: #f2f2f2;
  padding: 8px;
  border: 0;
  border-bottom: 1px solid #4d4d4d; }

QHeaderView::down-arrow {
  subcontrol-origin: margin;
  subcontrol-position: right top;
  background: rgba(255, 255, 255, 0%);
  border-top: 5px solid #f2f2f2;
  border-left: 5px solid rgba(255, 255, 255, 0%);
  border-right: 5px solid rgba(255, 255, 255, 0%);
  border-bottom: 0px solid rgba(255, 255, 255, 0%);
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 0px;
  right: 16px;
  top: 16px; }

QHeaderView::up-arrow {
  subcontrol-origin: margin;
  subcontrol-position: right top;
  background: rgba(255, 255, 255, 0%);
  border-top: 0px solid rgba(255, 255, 255, 0%);
  border-left: 5px solid rgba(255, 255, 255, 0%);
  border-right: 5px solid rgba(255, 255, 255, 0%);
  border-bottom: 5px solid #f2f2f2;
  margin-bottom: 32px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 0px; }
