
@import 'funcs';


@mixin basetheme(
    $primary: #CC4455,
    $on_primary: #000000,
    $bg: #FFFFFF,
    $on_bg: #000000
) {

    background: $bg;

    * {
        color: $on_bg;
    }

    #icon {
        outline: none;
        border: 1 solid vary($bg, 5%);
        border-radius: 3;
    }
    #icon:focus {
        border: 1 solid vary($bg, 15%);
    }
    #icon:disabled {
        border: 0;
    }
    #icon:hover {
        background-color: vary($bg, 5%);
    }
    #icon:pressed {
        background-color: vary($bg, 15%);
    }

    QPushButton#text-button {
        padding: 8 24 8 24;
        border: 1 solid vary($bg, 10%);
        border-radius: 3;
    }
    QPushButton#text-button:disabled {
        color: vary($bg, 15%);
    }
    QPushButton#text-button:hover {
        color: $on_primary;
        background-color: fade-out($primary, 0.55);
        border: 1 solid fade-out($primary, 0.55);
    }
    QPushButton#text-button:focus {
        outline: none;
        border: 1 solid fade-out($primary, 0.25);
    }
    QPushButton#text-button:pressed {
        color: $on_primary;
        background-color: $primary;
    }
}
