$icomoon-font-family: "construct" !default;
$icomoon-font-path: "fonts" !default;

$icon-alert: "\e900";
$icon-arrow_down: "\e901";
$icon-arrow_down_solid: "\e902";
$icon-arrow_left: "\e903";
$icon-arrow_left_solid: "\e904";
$icon-arrow_right: "\e905";
$icon-arrow_right_solid: "\e906";
$icon-arrow_up: "\e907";
$icon-arrow_up_solid: "\e908";
$icon-back: "\e909";
$icon-bookmark: "\e90a";
$icon-check: "\e90b";
$icon-checkbox_check: "\e90c";
$icon-checkbox_off: "\e90d";
$icon-checkbox_on: "\e90e";
$icon-circle: "\e90f";
$icon-circle_outline: "\e910";
$icon-close: "\e911";
$icon-collection: "\e912";
$icon-error: "\e913";
$icon-filter: "\e914";
$icon-folder: "\e915";
$icon-folder_open: "\e916";
$icon-forward: "\e917";
$icon-grid: "\e918";
$icon-group_list: "\e919";
$icon-home: "\e91a";
$icon-list: "\e91b";
$icon-menu: "\e91c";
$icon-menu_dots: "\e91d";
$icon-minus: "\e91e";
$icon-plus: "\e91f";
$icon-question: "\e920";
$icon-refresh: "\e921";
$icon-search: "\e922";
$icon-settings: "\e923";
$icon-sort: "\e924";
$icon-square: "\e925";
$icon-square_outline: "\e926";
$icon-tree: "\e927";
$icon-triangle: "\e928";
$icon-triangle_outline: "\e929";

