@import 'defaults';
@import 'funcs';
@import 'base';


// Mixins //
@mixin roboto {
    font-family: $font_stack;
    font-weight: $font_weight;
}

@mixin roboto-light {
    font-family: $font_stack;
    font-weight: $font_weight - 100;
}

@mixin roboto-medium {
    font-family: $font_stack;
    font-weight: $font_weight + 100;
}

@mixin icon {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "construct" !important;
  font-size: $font_size;
}


// Base Widgets //


QWidget {
    @include roboto;
    font-size: $font-size;
}

*[status="alert"] {
    color: $alert;
    border-color: $alert;
}

*[status="error"] {
    color: $error;
    border-color: $error;
}

*[status="success"] {
    color: $success;
    border-color: $success;
}

*[status="info"] {
    color: $info;
    border-color: $info;
}

#icon {
    @include icon;
    background-color: $transparent;
}

#h1 {
    @include roboto;
    font-size: 24px;
}

#h2 {
    @include roboto-medium;
    font-size: 20px;
}

#h3 {
    @include roboto;
    font-size: 18px;
}

#h4 {
    @include roboto;
    font-size: 14px;
}

#h5 {
    @include roboto-medium;
    font-size: 14px;
}

#p {
    @include roboto;
    font-size: 12px;
}


// Primary colored sub-theme //


QWidget[theme="primary"] {
     @include base(
        $primary_variant,
        $on_primary,
        $primary,
        $on_primary,
    );
}

QDialog[theme="primary"] {
    border: $border-style vary($primary, 20%);
}


// Surface colored sub-theme //


QWidget[theme="surface"] {
     @include base(
        $primary,
        $on_primary,
        $surface,
        $on_surface,
    );
}

QDialog[theme="surface"] {
    border: $border-style $background;
}

QDialog[theme="surface"]:active {
    border: $border-style darken($background, 4);
}

// Background colored sub-theme //


QWidget[theme="background"] {
    @include base(
        $primary,
        $on_primary,
        $background,
        $on_background,
    );
}

QDialog[theme="background"] {
    border: $border-style vary($background, 10%);
}

QDialog[theme="background"]:active {
    border: $border-style vary($background, 20%);
}

// Alert colored sub-theme //


QWidget[theme="alert"] {
    @include base(
        vary($alert, 20%),
        $on_secondary,
        $alert,
        $on_secondary,
    );
}

QDialog[theme="alert"] {
    border: $border-style vary($alert, 10%);
}

QDialog[theme="alert"]:active {
    border: $border-style vary($alert, 20%);
}

// Error colored sub-theme //


QWidget[theme="error"] {
    @include base(
        vary($error, 20%),
        $on_secondary,
        $error,
        $on_secondary,
    );
}

QDialog[theme="error"] {
    border: $border-style vary($error, 10%);
}

QDialog[theme="error"]:active {
    border: $border-style vary($error, 20%);
}

// Success colored sub-theme //


QWidget[theme="success"] {
    @include base(
        vary($success, 20%),
        $on_secondary,
        $success,
        $on_secondary,
    );
}

QDialog[theme="success"] {
    border: $border-style vary($success, 10%);
}

QDialog[theme="success"]:active {
    border: $border-style vary($success, 20%);
}


// Info colored sub-theme //


QWidget[theme="info"] {
    @include base(
        vary($info, 20%),
        $on_secondary,
        $info,
        $on_secondary,
    );
}

QDialog[theme="info"] {
    border: $border-style vary($info, 10%);
}

QDialog[theme="info"]:active {
    border: $border-style vary($info, 20%);
}
