// Fonts
$font_stack: Roboto !default;
$font_size: 12pt !default;
$font_weight: 400 !default;

// Colors
$primary: #F63659 !default;
$primary_variant: #D72F57 !default;
$on_primary: #FFFFFF !default;
$alert: #FACE49 !default;
$error: #F15555 !default;
$success: #7EDC9E !default;
$info: #87CDEB !default;
$on_secondary: #000000 !default;
$background: #F2F2F2 !default;
$on_background: #000000 !default;
$surface: #FFFFFF !default;
$on_surface: #000000 !default;
$transparent: rgba(255, 255, 255, 0);


@import 'funcs';
@import 'basetheme';


// Mixins //


@mixin roboto {
    font-family: $font_stack;
    font-weight: $font_weight;
    font-size: $font_size;
}

@mixin roboto-light {
    font-family: $font_stack;
    font-weight: $font_weight - 100;
    font-size: $font_size;
}

@mixin roboto-medium {
    font-family: $font_stack;
    font-weight: $font_weight + 100;
    font-size: $font_size;
}

@mixin icon {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "construct" !important;
  font-size: $font_size;
}


// Base Widgets //


QWidget {
    @include roboto;
}

*[status="alert"] {
    color: $alert;
    border-color: $alert;
}

*[status="error"] {
    color: $error;
    border-color: $error;
}

*[status="success"] {
    color: $success;
    border-color: $success;
}

*[status="info"] {
    color: $info;
    border-color: $info;
}

#icon {
    @include icon;
    background-color: $transparent;
}

#h1 {
    @include roboto;
    font-size: 24pt;
}

#h2 {
    @include roboto-medium;
    font-size: 20pt;
}

#h3 {
    @include roboto;
    font-size: 18pt;
}

#h4 {
    @include roboto;
    font-size: 14pt;
}

#h5 {
    @include roboto-medium;
    font-size: 14pt;
}

#p {
    @include roboto;
    font-size: 12pt;
}


// Primary colored sub-theme //


QWidget#primary {
    background-color: $primary;
    color: $on_primary;

    #icon:hover {
        background-color: vary($primary, 10%);
        border-radius: 3;
    }
}


// Surface colored sub-theme //


QWidget#surface {
     @include basetheme(
        $primary,
        $surface,
        $on_surface,
    );
}


// Alert colored sub-theme //


QWidget#alert {
    @include basetheme(
        $primary,
        $alert,
        $on_secondary,
    );
}


// Error colored sub-theme //


QWidget#error {
    @include basetheme(
        $primary,
        $error,
        $on_secondary,
    );
}


// Success colored sub-theme //


QWidget#success {
    @include basetheme(
        $primary,
        $success,
        $on_secondary,
    );
}


// Info colored sub-theme //


QWidget#info {
    @include basetheme(
        $primary,
        $info,
        $on_secondary,
    );
}


// Background colored sub-theme //


QWidget#background {
    @include basetheme(
        $primary,
        $background,
        $on_background,
    );
}
