// Fonts
$font-stack: Roboto Light, Helvetica, Arial, sans-serif !default;
$font-size: 12pt !default;
$font-weight: normal;

$font-light-stack: Roboto Regular, Helvetica, Arial, sans-serif !default;

// Colors
$transparent: rgba(255, 255, 255, 0);
$background-color: #333 !default;
$primary-color: #f2f2f2 !default;
$focus-color: darken(#fff, 70%) !default;
$pressed-color: darken(#fff, 65%) !default;
$disabled-color: darken(#fff, 55%) !default;
$error-color: rgb(203, 40, 40) !default;

// Borders
$border-radius: 0px !default;
$border: 1px solid $focus-color !default;
$text-padding: 8px !default;

// Base

QWidget {
    font: 100% $font-stack;
    font-size: $font-size;
    font-weight: $font-weight;
    background: $background-color;
    color: $primary-color;
    selection-background-color: $primary-color;
    selection-color: $background-color;
}


// QLabels

QLabel {
    padding: 0;
}

QLabel[titlebar=true] {
    padding-top: $text-padding;
    padding-bottom: $text-padding;
    padding-left: $text-padding;
    padding-right: $text-padding;
    font: 100% $font-light-stack;
    font-size: 10pt;
}

QLabel[valid=false] {
    color: $error-color;
}


// QLineEdit

QLineEdit{
    background: $focus-color;
    border-radius: $border-radius;
    border: 0;
    color: $primary-color;
    padding-top: $text-padding;
    padding-bottom: $text-padding;
    padding-left: $text-padding;
    padding-right: $text-padding;
}

QLineEdit[valid=false]{
    border: 1px solid $error-color;
    color: $error-color;
}

// Buttons

.Icon {
    background: $transparent;
    padding: 0;
}

.Icon:hover {
    background: $focus_color;
}

QPushButton {
    border-radius: $border-radius;
    padding: $text-padding;
    color: $primary-color;
    border: $border;
    background: $transparent;
    outline: none;
    min-width: 120px;
}

QPushButton:hover, QPushButton:focus {
    background: $focus-color;
}

QPushButton:pressed, QPushButton:checked {
    background: $pressed-color;
}

QPushButton:disabled {
    color: $disabled-color;
}


// Spin Box

QSpinBox,
QDoubleSpinBox {
    background: $focus-color;
    color: $primary-color;
    border-radius: $border-radius;
    outline: none;
    padding: $text-padding;
    padding-left: $text-padding * 2;
    padding-right: $text-padding * 2;
}

QSpinBox[valid=false],
QDoubleSpinBox[valid=false] {
    color: $error-color;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button {
    background: $transparent;
    border-bottom: 5px solid $primary-color;
    border-left: 5px solid $transparent;
    border-right: 5px solid $transparent;
    border-top: 0px solid $transparent;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: -2px;
    right: 4px;
    subcontrol-origin: padding;
    subcontrol-position: top right;
}

QSpinBox::down-button,
QDoubleSpinBox::down-button {
    background: $transparent;
    border-bottom: 0px solid $transparent;
    border-left: 5px solid $transparent;
    border-right: 5px solid $transparent;
    border-top: 5px solid $primary-color;
    margin-bottom: -2px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    right: 4px;
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
}

// Combo Box

QComboBox {
    background: $focus-color;
    color: $primary-color;
    border-radius: $border-radius;
    outline: none;
    padding: $text-padding;
    padding-left: $text-padding * 2;
    padding-right: $text-padding * 2;
}

QComboBox[valid=false] {
    color: $error-color;
}

QComboBox::drop-down {
    background: $transparent;
    border: 0;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 4px;
    width: 24px;
}

QComboBox::drop-down:editable {
    border-left: 1px solid $background-color;
}

QComboBox::down-arrow{
    background: $transparent;
    border-top: 5px solid $primary-color;
    border-left: 5px solid $transparent;
    border-right: 5px solid $transparent;
    border-bottom: 0px solid $transparent;
    margin-left: 0px;
    margin-right: 3px;
    margin-top: 4px;
}

QAbstractItemView[completer=true]{
    background: blue;
}

QComboBox QAbstractItemView,
QAbstractItemView[completer=true]{
    // show-decoration-selected: 1;
    background: $focus-color;
    border: none;
    color: $primary-color;
    outline: none;
    selection-background-color: $focus-color;
    selection-color: $primary-color;
}

QComboBox QAbstractItemView::item,
QAbstractItemView[completer=true]::item{
    border: 0;
    color: 0;
    outline: none;
    padding-top: $text-padding;
    padding-bottom: $text-padding;
    padding-left: $text-padding * 2;
    padding-right: $text-padding * 2;
}

QComboBox QAbstractItemView::item:selected:active,
QComboBox QAbstractItemView::item:hover,
QAbstractItemView[completer=true]::item:selected:active,
QAbstractItemView[completer=true]::item:hover{
    background: $pressed-color;
}

// Scrollbars

QScrollBar:vertical {
    border: 0;
    background: $focus-color;
    width: 16px;
    padding: 4px;
    margin: 8px 0px 8px 0px;
}
QScrollBar::handle:vertical {
    background: $primary_color;
    border: 0px solid $focus_color;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    border: 0px solid $primary_color;
    background: $focus_color;
    height: 10;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
     border: 0;
     background: $focus-color;
     height: 10;
     subcontrol-position: top;
     subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical {}

QScrollBar::down-arrow:vertical {}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar:horizontal {
    border: 0;
    background: $focus-color;
    height: 16px;
    padding: 4px;
    margin: 0px 8px 0px 8px;
}
QScrollBar::handle:horizontal {
    background: $primary_color;
    border: 0px solid $focus_color;
    min-width: 20px;
}
QScrollBar::add-line:horizontal {
    border: 0px solid $primary_color;
    background: $focus_color;
    width: 10;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
     border: 0;
     background: $focus-color;
     width: 10;
     subcontrol-position: left;
     subcontrol-origin: margin;
}
QScrollBar::left-arrow:horizontal {}

QScrollBar::right-arrow:horizontal {}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}


// Tree View

QTreeView,
QListView {
    show-decoration-selected: 1;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    border: 1px solid $focus-color;
}

QTreeView::item,
QTreeView::branch,
QListView::item {
    border: 0;
    border-bottom: 1px solid $focus-color;
    padding: $text-padding;
}

QTreeView::item:hover,
QTreeView::branch:hover,
QListView::item:hover {
    border: 0;
    background: $focus-color;
}

QTreeView::item:selected,
QTreeView::branch:selected,
QListView::item:selected {
    border: 0;
}

QTreeView::item:selected:active,
QTreeView::branch:selected:active,
QListView::item:selected:active {
    background: $pressed-color;
}

QTreeView::item:selected:!active,
QTreeView::branch:selected:!active,
QListView::item:selected:!active {
    background: $pressed-color;
    color: $primary-color;
}

QHeaderView::section {
    background-color: $background-color;
    color: $primary-color;
    padding: $text-padding;
    border: 0;
    border-bottom: 1px solid $focus-color;
}

QHeaderView::down-arrow {
    subcontrol-origin: margin;
    subcontrol-position: right top;
    background: $transparent;
    border-top: 5px solid $primary-color;
    border-left: 5px solid $transparent;
    border-right: 5px solid $transparent;
    border-bottom: 0px solid $transparent;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    right: 16px;
    top: 16px;
}

QHeaderView::up-arrow {
    subcontrol-origin: margin;
    subcontrol-position: right top;
    background: $transparent;
    border-top: 0px solid $transparent;
    border-left: 5px solid $transparent;
    border-right: 5px solid $transparent;
    border-bottom: 5px solid $primary-color;
    margin-bottom: 32px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
}
