// Colors
$transparent: rgba(255, 255, 255, 0);
$background-color: #fff !default;
$primary-color: #000 !default;
$focus-color: darken(#fff, 10%) !default;
$pressed-color: darken(#fff, 15%) !default;
$disabled-color: darken(#fff, 25%) !default;
$error-color: rgb(203, 40, 40) !default;


@import '_base';
